# The .dockerignore file excludes files from the container build process.
#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Exclude locally vendored dependencies.
vendor/
.env

# Exclude local storage files
database/
!database/migrations

# Exclude "build-time" ignore files.
.dockerignore

# Exclude go tests
*_test.go
